@import "tailwindcss";
.body{
  width: 100%;
  min-height: 100vh;
  

}
button , a{
  cursor: pointer;
}
header h1 , h2{
    font-family: "Gulzar", sans-serif;
  font-weight: 900;
  font-style: normal;
}

header {
    font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main{
  font-family: "Vazirmatn";
  font-style: normal;
}
.font-vazir{
    font-family: "Vazirmatn";
}